<!DOCTYPE html>
<html lang="en" ng-app="ToDoList">
<head>
  <meta charset="UTF-8">
  <title>To do List</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="js/app.js"></script>
</head>
<body ng-controller="ToDoListController as listCtrl">
  <div class="container">
    <div class="page-header">
      <form class="form-inline">
        <div class="form-group">
          <input type="text" placeholder="Enter a task" ng-model="listCtrl.taskItem">
          <button class="btn btn-primary" ng-click="listCtrl.addTask()" id="Add">Add to List</button>
        </div>
      </form>
    </div>
    <div class ="jumbotron">
      <div ng-repeat="item in listCtrl.taskList" class="results">
        <h3>
          {{item.task}}
          <button class="btn btn-danger" id="Remove" ng-click="listCtrl.removeTask(item.task)">Remove</button>
        </h3>
      </div>
      <br></br>
      <div>
        <form>
          <button class="btn btn-primary" id="Clear" ng-click="listCtrl.clearTasks()">Reset list</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
